body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: transparent;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo-container {
    width: 50px; /* Adjust as needed */
}

nav a {
    text-decoration: none;
    color: #333; /* Dark grey */
    margin: 0 10px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #555; /* Light grey */
}

.body-section {
    padding: 80px 20px 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee; /* Light grey */
    height: 50px;
}

.dark-mode {
    background-color: #333;
    color: #fff; /* White */
}

.dark-mode nav a {
    color: #ddd; /* Light grey */
}

.dark-mode footer {
    background-color: #555;
}

.theme-toggle {
    cursor: pointer;
}

#about-container,
#skills-container,
#career-container,
#projects-container,
#contact-container {
    background-color: #eee;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

#proj-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    background-color: #ddd; /* Light grey */
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
}

.project:hover {
    background-color: #ccc; /* Slightly darker grey on hover */
}
