body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #555;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #ddd;
}

.body-section {
    padding: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #555;
    height: 50px;
}

h1, h2, p {
    color: #fff;
}

.skills-section ul {
    list-style-type: none;
    padding: 0;
}

.skills-section li {
    margin: 5px 0;
}

#theme-toggle {
    cursor: pointer;
}

#about-container, #skills-container, #career-container, #projects-container, #contact-container {
    background-color: #444;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

#proj-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    background-color: #666;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    transition: background-color 0.3s ease;
}

.project:hover {
    background-color: #888;
}
